/*.body-img {
    width: 450px;
}

@media (max-width: 576px) {
    .col-md:first-child {
        display: flex;
        align-items: end;
        justify-content: center;
    }

    .col-md:last-child {
        display: flex;
        align-items: center;
    }

    .tooltip {
        width: 200px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .col-md:first-child {
        display: flex;
        align-items: end;
        justify-content: center;
    }

    .col-md:last-child {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tooltip {
        width: 200px;
    }
}

@media (min-width: 769px) {
    main > div {
        display: flex;
        flex-direction: column;
    }

    .col-md:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .col-md:last-child {
        margin-top: -100px;
    }
}*/

@media (max-width: 768px) {
    .first-row-container {
        display: flex;
        justify-content: center;
    }

    .first-row-container > div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .first-row-container > div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .first-row-container > div:last-child > p {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .row:last-child {
        padding-top: 75px;
    }
}

@media (min-width: 769px) {
    .first-row-container {
        display: flex;
        justify-content: center;
    }

    .first-row-container > div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .first-row-container > div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .first-row-container > div:last-child > p {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .row:first-child {
        padding-top: 50px;
    }

    .row:last-child {
        padding-top: 75px;
    }
}