* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

html, body {
    height: 90%;
}

body {
    background-color: rgba(84, 113, 211, 0.2)
}

nav {
    background-color: rgb(63, 63, 63);
    color: white
}